@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@100;200;300;400;500');

$font: 'Poppins', sans-serif;

//colors
$yellow: rgb(250, 241, 0);
$white1: rgb(255, 255, 255);
$white2: rgb(240, 241, 242);
$black1: rgb(0, 0, 0);
$black2: rgb(17, 17, 17);
$black3: rgb(40, 40, 40);
$grey1: rgb(218, 222, 223);
$grey2: rgb(70, 70, 70);
$grey3: rgb(140, 140, 140);

//size:
$h1-font-size: 1.7rem;
$h2-font-size: 1.3rem;
$h3-font-size: 1.1rem;
$h4-font-size: 1rem;
$h5-font-size: 0.7rem;
$h6-font-size: 0.6rem;
$h7-font-size: 0.5rem;

//helpers
$spacing-1: 0.4rem;
$spacing-2: 0.8rem;
$spacing-3: 1.2rem;
$spacing-4: 1.5rem;
$spacing-5: 2rem;

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: blue;
  font-family: $font;
  font-weight: 300;
  color: $grey2;
  font-size: 12px;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

//
.app {
  width: 794px;
  height: 1122px;
  margin: 0 auto;
  display: flex;
  position: relative;
  .main {
    width: 70%;
    background-color: $white1;
  }
  .sidebar {
    width: 30%;
    background-color: $black2;
  }
}

#btn-print {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  border-radius: 5px;
  background: $black2;
  color: $yellow;
}
