.title-wrapper {
  display: flex;
  flex-direction: row;
  height: 35px;
  width: 100%;

  img {
    width: 35px;
    height: 35px;
    padding: 5px;
    background-color: $color-secondary;
  }

  h2 {
    padding-left: 10px;
    font-size: $h2-font-size;
    color: $grey2;
    background-color: $color-primary;
    width: 100%;
    text-transform: uppercase;
  }
}
