.main{
  padding: 20px;
  padding-top: 40px;
}

.experience-container,
.education-container, 
.hobbies-container {
  margin-bottom: 20px;
  h3 {
    font-size: $h3-font-size;
    display: inline;
  }
  span {
    font-size: $h4-font-size;
  }
  ul {
    font-size: $h5-font-size;
  }
}

.experience-title,
.education-title, .hobbies-title {
  margin: 10px 0;
}

.education-container {
  h3 {
    display: block;
  }
  li, span{
    font-size: $h5-font-size;
  }
}

.hobbies-container {
  line-height: 20px;
}
