.education,
.certification,
.experience, .projets {
  display: grid;
  grid-template-columns: 25% 75%;
  background: $white1;
  .education-left,
  .certification-left,
  .experience-left, 
  .projets-left{
    margin-right: 30px;
    p {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        transform: rotate(270deg);
        font-weight: 700;
        color: $black2;
        font-size: $h3-font-size;
      }
    }
  }
}

.education {
  background: $white2;
}
.education-left {
  background: $yellow;
}

.education-container,
.certification-container, .projets-container {
  position: relative;
  padding-left: 1.5rem;
  margin: 1.05rem 0;
  &:after {
    position: absolute;
    content: '';
    height: 100%;
    width: 1.5px;
    top: 0px;
    left: 8px;
    background: $black2;
    z-index: 1;
  }

}
.experience-container {
  position: relative;
  padding-left: 1.5rem;
  margin: 1.05rem 0 0 0;
  &:after {
    position: absolute;
    content: '';
    height: 100%;
    width: 1.5px;
    top: 0px;
    left: 8px;
    background: $black2;
    z-index: 1;
  }
}

.icons-container{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;

  li {
    display: inline;
        font-size: $h7-font-size;
        font-weight: 500;
        padding: 2px 5px;
        background: $grey2;
        color: $white2;
        border-radius: 5px;
  }
}