header {
  display: grid;
  grid-template-columns: 30% 1fr;
  padding: 1.5rem 1.5rem 1.5rem 0;
  background-color: $white1;
}

.logoCv-container {
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    padding: 30px 25px;
    border-radius: 100px;
    background: $yellow;
    font-weight: 700;
    font-size: $h4-font-size;
    color: $black3;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.about-container {
  h3, h4 {
    padding-bottom: 10px;
  }
  h3{
    font-size: $h2-font-size;
  }
  h4{
    font-size: $h3-font-size;
  }
  p {
    font-size: $h6-font-size;
    font-weight: 400;
  }
}
