header {
  display: grid;
  grid-template-columns: 20% 1fr;
  padding: 0.5rem 0 1rem 0;
  margin-bottom: 20px;
  background-color: $white1;
}

.logoCv-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;

  p {
    padding: 35px 20px;
    border-radius: 150px;
    background: $yellow;
    font-weight: 700;
    font-size: $h4-font-size;
    color: $black3;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.about-container {
  h3, h5 {
    padding-bottom: 5px;
  }
  h3 {
    font-size: $h2-font-size;
  }
  h4 {
    font-size: $h4-font-size;
  }
  h5 {
    font-size: $h4-sub-font-size;
    font-weight: 500;
    font-style: italic;
  }
  p {
    font-size: $h5-font-size;
    font-weight: 400;
    margin-right: 5px;
    span {
      display: block;
      margin-bottom: 5px;
    }
  }
}
