header {
  display: grid;
  grid-template-columns: 25% 1fr;
  padding: 1.5rem 1.5rem 1.5rem 0;
  margin-bottom: 20px;
  background-color: $white1;
}

.logoCv-container {
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    padding: 35px 20px;
    border-radius: 150px;
    background: $yellow;
    font-weight: 700;
    font-size: $h4-font-size;
    color: $black3;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.about-container {
  h3,
  h4 {
    padding-bottom: 5px;
  }
  h3 {
    font-size: $h2-font-size;
  }
  h4 {
    font-size: $h4-font-size;
  }
  p {
    font-size: $h5-font-size;
    font-weight: 400;
  }
}
