.img-container {
  max-width: 250px;
  max-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

h1 {
  font-size: $h1-font-size;
  margin: 10px 0 20px;
}
.user {
  width: 100%;
  padding: 1.2rem 0;
  color: $white2;
  h2 {
    font-size: $h5-font-size;
  }
  h3 {
    font-size: $h3-font-size;
    font-weight: 900;
    margin-bottom: 10px;
  }
  .text{
    font-size: $h5-font-size;
    margin-bottom: 15px;
  }
}

//contact
.contact {
  width: 100%;
  min-height: 710px;
  padding: 1.5rem;
  background: $color-primary;
  position: relative;
  font-size: $h5-font-size;
  color: $grey2;


  .container {
    display: flex;
    gap: 5px;
    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
  }
  img {
    width: 35px;
    height: 35px;
    padding: 5px;
  }
}
